<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галерея изображений</title>
    <link rel="stylesheet" href="/static/task3.css">
</head>
<body>
    <div class="gallery">
        <h2>Галерея изображений</h2>
        <div class="thumbnails">
            <img src="https://avatars.mds.yandex.net/i?id=aa88c7874c0425f5052511dec5c55a9e_l-12475834-images-thumbs&n=13" alt="Котик 1" class="thumbnail">
            <img src="https://i.pinimg.com/736x/f2/75/ee/f275ee1fc4c250d11d1afa7f859e5448.jpg" alt="Котик 2" class="thumbnail">
            <img src="https://i.pinimg.com/736x/46/ef/99/46ef998c64e221407bb5ac3c17e5d1bf.jpg" alt="Котик 3" class="thumbnail">
            <img src="https://i.pinimg.com/736x/72/25/76/7225767f680df6ed2b27baa99a20ecc3.jpg" alt="Котик 4" class="thumbnail">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/692781374694052547/A54FF980CBA95D0653E315EFABEBDEABF5700324/?imw=512&amp;imh=340&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true" alt="Котик 5" class="thumbnail">
        </div>
        <div class="enlarged-image">
            <img src="#" alt="Увеличенное изображение" id="mainImage">
        </div>
    </div>
    <script src="/static/task3.js"></script>
</body>
</html>