<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма регистрации</title>
    <link rel="stylesheet" href="/static/task1.css">
</head>
<body>
    <form id="registrationForm">
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name">
            <span class="error" id="nameError"></span>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <span class="error" id="emailError"></span>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password">
            <span class="error" id="passwordError"></span>
        </div>
        <button type="submit">Отправить</button>
    </form>
    <script src="/static/task1.js"></script>
</body>
</html>