body {
    font-family: Arial, sans-serif;
    background-color: #eef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.link-page {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}